<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img style="width: 100px; height: 100px;" src="../../assets/imgs/splashLogo.svg">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row *ngIf="fetchDirection">
    <ion-col>
      <button ion-button round (click)="findDirection()">Fetch Patients Location</button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!fetchDirection">
    <ion-col>
      <button ion-button round (click)="reset()">Reset</button>
    </ion-col>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-label>Modes</ion-label>
          <ion-select id="mode" [(ngModel)]="modeOfTravel" (ionChange)="modeChanged()">
            <ion-option value="DRIVING">Driving</ion-option>
            <ion-option value="WALKING">Walking</ion-option>
            <ion-option value="TRANSIT">Transit</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <div id="map_canvas"></div>

  <ion-card *ngIf="!fetchDirection">
    <ion-card-content>
      <div id="directionsPanel"></div>
    </ion-card-content>
  </ion-card>

</ion-content>
